:root {
  --bg: #d6f3da;
  --border: #189200;
  --padding: 1px;
  --margin: 1px;
  --border-radius: 2px;
}
/* body {
  background-image: url("/images/ticketboat.png");
  width: 100%;
  height: auto;
}
 */
#container {
  width: max-content;
  height: 100%;
  border: 2px green solid;
  border-radius: var(--border-radius);
  border-width: thin;
  background-image: url("/images/ticketboat.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;;

}
#image {
  width: 100%;
  height: auto;
  border: 2px green solid;
  border-radius: var(--border-radius);
  border-width: thin;
}

#nav {
  width: max-content;
  border-radius: var(--border-radius);
}
