:root {
  --bg: #d6f3da;
  --border: #189200;
  --padding: 1px;
  --margin: 1px;
  --border-radius: 8px;

}
body {
  width: auto;
  height: fit-content;
  border: 2px green solid;
  border-radius: var(--border-radius);
  border-width: thin;
}

#container {
  width: auto;
  height: auto;
  border: 2px green solid;
  border-radius: var(--border-radius);
  border-width: thin;
}

#nav {
  border-radius: var(--border-radius);
}

#tm_get_confirmation_table {
  min-height: 200px;
  margin: 4px;
  border: thin grey;
  height: fit-content;
  border-radius: var(--border-radius);
}

#tm_get_confirmaion_header {
  padding: 4px;
  margin: 4px;
  min-height: 200px;
  height: fit-content;
  vertical-align: middle;
  text-align: center;


}

#tm_post_confirmation_table {
  min-height: 150px;
  margin: 4px;
  border: thin grey;
  height: fit-content;
  border-radius: var(--border-radius);
}

#tm_post_confirmaion_header {
  padding: 4px;
  margin: 4px;
  min-height: 150px;
  height: fit-content;
  vertical-align: middle;
  text-align: center;


}


#image {
  border-radius: var(--border-radius);
  margin: 2px;
  border: 2px rgb(4, 0, 255);
  padding: 4px;
  width: 99.6%;
}