:root {
  --bg: #d6f3da;
  --border: #189200;
  --padding: 1px;
  --margin: 1px;
  --border-radius: 16px;
  --border-radius-big: 18px;

}

#container {
  width: auto;
  height: fit-content;
  border: 2px green solid;
  border-radius: var(--border-radius);
  border-width: thin;
}

#nav {
  border-radius: var(--border-radius-big);
}

#table_container {
  min-height: 200px;
  margin: 4px;
  border: thin grey;
  height: fit-content;
  border-radius: var(--border-radius);
}

#table_info {
  padding: 4px;
  margin: 4px;
  min-height: 200px;
  height: fit-content;
  vertical-align: middle;
  text-align: center;


}



#image {
  border-radius: var(--border-radius-big);
  margin: 2px;
  border: 2px rgb(4, 0, 255);
  padding: 4px;
  width: 99.6%;
}